.attachments {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 0 4px;
}

.attachments > img {
    padding-top: 5px;
}

.attachments > img:not(:last-of-type) {
    padding-right: 5px;
}

.open-comment {
    font-size: 13px;
}
